.about-content {
  height: 634px;
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 300px;
}


.about {
  height: 550px;
  width: 500px;
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 100%;
}


.name-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.descryption {
  height: 100px;
  width: 400px;
  display: flex;
  align-items: center;
  text-align: center;
}